@font-face {
    font-family: "LatoLatin-Bold";

    src: url("../fonts/LatoLatin-Bold.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LatoLatin-Light";

    src: url("../fonts/LatoLatin-Light.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "STARWARS";

    src: url("../fonts/STARWARS.woff");
    font-weight: 400;
    font-style: normal;
}