.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--bgr-space);
    background-size: cover;
    color: var(--font-color-white);
}

.spaceship {
    font-size: 0;
}

.spaceship::before {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 33%;
    width: 186px;
    height: 180px;
    background: var(--sprite);
    background-position: 0 0;
}